/* Adjust the spacing and centering of navigation links */

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  background: #314755;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .navbar a {
    display: inline-block;
    margin: 0 3px; /* Adjust spacing between links */
    color: black;
    text-align: center;
    padding: 6px 12px; /* Adjust padding for vertical spacing */
    text-decoration: none;
    font-size: 30px;
    font-family: 'Didot', serif;
    font-style: italic;
    font-weight: bold; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .container {
    position: relative;
  }
  